<div class="info">
  <h1>SignWise</h1>
  <div class="restaurant-description">
    <p>SignWise is the distinguished and classy app for sign language learning!</p>
    <p>With its sleek and modern interface, SignWise offers a unique and immersive learning experience for individuals who want to learn sign language.</p>
    <p>Some of the key features of SignWise include:</p>
    <ul>
      <li>A comprehensive library of sign language videos, covering a wide range of topics and levels of difficulty.</li>
      <li>Interactive quizzes and exercises to help users reinforce their learning and track their progress.</li>
      <li>A user-friendly interface that allows users to easily search for specific signs or phrases, and save their favorite signs for later reference.</li>
      <li>Personalized learning plans that adapt to each user's learning pace and preferences.</li>
      <li>Social features that allow users to connect with other sign language learners and share their progress and experiences.</li>
    </ul>
    <p>With SignWise, learning sign language has never been easier or more enjoyable.</p>
  </div>
  <div>
    <a routerLink="/camera-capture" class="accented"><mat-icon class="icon-display">photo_camera</mat-icon></a>
  </div>
</div>

