<div class="container-fluid w-75 p-3">
    <!--FIRST ROW -->
    <div class="row h-25">
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                          <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/A-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                          <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/B-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                          <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/C-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                          <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/D-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                          <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/E-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIRST ROW END-->


    <!--SECOND ROW -->
    <div class="row h-25">
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/F-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/G-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/H-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/I-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/J-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SECOND ROW END-->

    <!--THIRD ROW -->
    <div class="row h-25">
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/K-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/L-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/M-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/N-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/O-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--THIRD ROW END-->

    <!--FOURTH ROW -->
    <div class="row h-25">
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/P-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/R-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/S-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/T-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/U-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOURTH ROW END-->


    <!--FIFTH ROW -->
    <div class="row h-25">
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/V-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/W-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/X-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/Y-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="image">
                            <img src="assets/images/question-mark.png" width="100%"/>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <img src="assets/images/Z-flashcard.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIFTH ROW END-->

</div>
