<!-- Navbar -->
<nav class="toolbar" role="banner">
  <button (click)="this.router.navigate(['/cart']);" mat-icon-button color="black"  aria-label="Main menu" >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button (click)="this.router.navigate(['/menu']);" mat-icon-button color="black" aria-label="Main menu" >
    <mat-icon>home</mat-icon>
  </button>
</nav>

<div class="content" role="main">
  <span>{{ title }} app is running!</span>
  <p>What do you want to do next with your app?</p>
</div>


<router-outlet></router-outlet>
