<style>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button mat-icon-button color="black" aria-label="Main menu" >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button color="black" aria-label="Main menu" >
    <mat-icon>home</mat-icon>
  </button>
</div>
<div class="content" role="main">
  <span>{{ title }} app is running!</span>
  <p>What do you want to do next with your app?</p>
</div>


<div class="menu">
  <app-menu-filter
    [allCategories]="getAllCategories()"
    [allCuisines]="getAllOfCuisines()"
    [filter]="filter"
  ></app-menu-filter>
  <app-dishes
    [dishes]="dishesList"
    [dishesCart]="dishesCart"
    [filter]="filter"
  ></app-dishes>
</div>

<app-cart [dishesCart]="dishesCart"></app-cart>
<app-create-dish-form [dishesList]="dishesList"></app-create-dish-form>

<router-outlet></router-outlet>
