@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

h1, h3 {
  padding-left: 2%;
}

.cartContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderWrapper{
  padding: 10px;
  border: solid 3px #0F7391;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons, .cartTotal {
  padding-left: 2%;
}
