<h1>CART</h1>

<div *ngIf="isOrderPlaced" class="alert alert-success" role="alert">
  <strong> Success!</strong> Your order has been placed.
  <button (click)="isOrderPlaced=false" type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin: 0 auto">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="dishesCart.size > 0" class="cartWrapper">
  <ul class="cartContent">
    <li class="orderWrapper">
      <div class="orderName">NAME</div>
      <div class="orderPrice">PRICE</div>
      <div class="orderQuantity">QUANTITY</div>
      <div class="orderQuantity">SUM</div>
      <div class="buttons"></div>
    </li>
    <li *ngFor="let order of dishesCart.keys()" class="orderWrapper">
      <div class="orderName">{{order.name}}</div>
      <div class="orderPrice">{{order.price}}</div>
      <div class="orderQuantity">{{dishesCart.get(order)}}</div>
      <div class="orderQuantity">{{dishesCart.get(order)! * order.price}}</div>
      <div class="buttons">
        <button mat-raised-button color="primary" [disabled]="order.maxAvailable == 0" (click)="addDishToCart(order)">+</button>
        <button mat-raised-button color="warn" (click)="removeDishFromCart(order)">-</button>
<!--        Buy the position instantly -->
        <button mat-raised-button style="background-color: #69F0AE" (click)="orderSingleDish(order)"><mat-icon>payment</mat-icon></button>
      </div>
    </li>
  </ul>
  <div class="cartTotal">
    <div class="cartTotalText">TOTAL</div>
    <div class="cartTotalPrice">{{calculateTotal()}}</div>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="placeOrder()">PLACE ORDER</button>
    <button mat-raised-button color="warn" (click)="clearCart()">CLEAR CART</button>
  </div>
</div>

<div *ngIf="dishesCart.size == 0">
  <h3>Cart is empty!</h3>
</div>
