@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.loginWrapper {
  padding: 5%;
  margin: 0 auto;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
  /*border: 1px solid blue;*/
  text-align: center;
}

.form-group button {
  margin: 2%;
  width: 15vw;
}

.form-group button:disabled {
  background-color: #67635e;
  color: #000000;
}

.review {
  /*border: 1px solid blue;*/
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* error - incorrect input in form */
em {
  float:right;
  color:#E05C65;
  padding-left:10px;
}

.error input {
  background-color:#E3C3C5;
}

.error ::-webkit-input-placeholder {
  color: #999;
}

.error ::-moz-placeholder {
  color: #999;
}

.error :-moz-placeholder {
  color: #999;
}

.error :-ms-input-placeholder {
  color: #999;
}
