<div class="info">
  <h1>The Hot Spot</h1>
  <div class="restaurant-description">
    <p>Welcome to Hot Spot, the premier 5-star dining destination in town. Our talented team of chefs creates mouthwatering dishes using only the freshest ingredients, sourced from local farms and markets.</p>
    <p>As you enter our elegant dining room, you'll be greeted by our friendly staff and treated to a warm and inviting atmosphere. The beautifully appointed space features plush furnishings, sparkling chandeliers, and floor-to-ceiling windows that offer stunning views of the city skyline.</p>
    <p>Our menu is carefully crafted to offer a diverse selection of dishes that will satisfy even the most discerning palate. From classic French dishes to modern twists on traditional favorites, there's something for everyone at Hot Spot.</p>
    <p>We also offer an extensive wine list, featuring the finest vintages from around the world. Whether you're celebrating a special occasion or simply looking for a luxurious evening out, Hot Spot is the perfect choice.</p>
  </div>
  <div class="contact">
    <p class="contact-head">CONTACT INFO</p>
    <p><mat-icon> place</mat-icon>Rynek Główny 30-28, 33-332 Kraków</p>
    <p><mat-icon>phone</mat-icon> +48 12 678 23 52</p>
    <p><mat-icon>mail</mat-icon>info@hot-spot.com</p>
    <p><mat-icon>cloud</mat-icon>https://github.com/YgLK/restaurant-webapp</p>
  </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.312902572827!2d19.935157450419112!3d50.06170142308074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b0df90f6453%3A0xbb2e110fa28d685b!2zUnluZWsgR8WCw7N3bnksIEtyYWvDs3c!5e0!3m2!1spl!2spl!4v1672695553190!5m2!1spl!2spl" width="50%" height="70%" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

