<div class="container">
  <div class="col">
    <div class="row">
      <h4 class="text-center">Camera preview</h4>
    </div>
    <div class="row">
      <webcam class="m-3"
        [trigger]="invokeObservable"
        (imageCapture)="captureImg($event)"
      ></webcam>
    </div>
    <div class="row">
      <button class="btn btn-dark" (click)="getSnapshot()">
        Capture Image
      </button>
    </div>
    <div class="row">
      <h6 class="m-3 text-center">Your taken image manifests here...</h6>
      <img  class="rounded"[src]="webcamImage?.imageAsDataUrl" height="400px" />
    </div>
  </div>
</div>
