<div class="dishCard">
  <div class="dishImg">
    <ng-image-slider [images]="imageObject" #nav
                     [imageSize]="{width: '100%', height: '59.5%'}"
    ></ng-image-slider>
  </div>
  <div class="dish-info">
    <p class="property-description">dish name</p>
    <span class="name">
       {{dish.name | uppercase}}
      <span *ngIf="dish.maxAvailable == 0" class="name" style="color: red">[SOLD OUT]</span>
        </span>
    <app-rating [dish]="dish"></app-rating>
    <p class="property-description">cuisine</p>
    <span class="cuisine">{{dish.cuisine | uppercase}}</span>
    <p class="property-description">category</p>
    <span class="category">{{dish.category}}</span>
    <p class="property-description">ingredients</p>
    <span class="category">{{dish.ingredients.toString().replaceAll(',', ' 🍽 ')}}</span>
    <p class="property-description">description</p>
    <span class="description">{{dish.description}}</span>
    <p class="property-description">price</p>
    <span class="price">{{dish.price | currency:'USD'}}</span>
    <!--          INGREDIENTS AND MORE IMAGES WILL BE SHOWN IN DISH INFO VIEW -->
    <p class="property-description" style="display: none">ingredients</p>
    <span class="ingredients" style="display: none">{{dish.ingredients}}</span>
    <div class="statsDiv" [style.background-color]="'rgba(255,145,0,0.58)'">
      <p class="property-description">available / ordered </p>
      <span class="availability" [style.color]="dish.maxAvailable > 3 ? 'black' : 'red'">{{dish.maxAvailable}} </span>
      /
      <span class="availability"> {{cartService.dishesCart.get(dish) ? cartService.dishesCart.get(dish) : 0}} </span>
    </div>
  </div>
  <div class="buttons">
    <!--          ADD TO CART -->
    <!-- if dish unavailable disable button -->
    <button [disabled]="dish.maxAvailable == 0" mat-fab color="accent" aria-label="Add to cart" (click)="addDishToCart(dish)">
      <mat-icon>add</mat-icon>
    </button>
    <!--          REMOVE FROM CART -->
    <button [disabled]="!(dishesCart.get(dish)! > 0)" mat-fab color="accent" aria-label="Add to cart" (click)="removeDishFromCart(dish)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>
<app-reviews [dish]="dish"></app-reviews>
