<h2>Filtering</h2>


<label for="searchDishName">Search by name</label>
<input type="text" id="searchDishName" placeholder="e.g. Pasta" [(ngModel)]="filterText.text">

TODO: Add a filter for the type of dish, price, cuisine etc. (check in the instructions whats required)
<section class="example-section">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</section>

<!--<section class="example-section">-->
<!--  <span class="example-list-section">-->
<!--    <mat-checkbox class="example-margin"-->
<!--                  [checked]="allComplete"-->
<!--                  [color]="task.color"-->
<!--                  [indeterminate]="someComplete()"-->
<!--                  (change)="setAll($event.checked)">-->
<!--      {{task.name}}-->
<!--    </mat-checkbox>-->
<!--  </span>-->
<!--  <span class="example-list-section">-->
<!--    <ul>-->
<!--      <li *ngFor="let subtask of task.subtasks">-->
<!--        <mat-checkbox [(ngModel)]="subtask.completed"-->
<!--                      [color]="subtask.color"-->
<!--                      (ngModelChange)="updateAllComplete()">-->
<!--          {{subtask.name}}-->
<!--        </mat-checkbox>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </span>-->
<!--</section>-->
